.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
	background: #000;
    
	
	a, h1 {
		color: #fff;
		text-decoration: none;
		transition: 0.2s all;
	}
    .navigation {
		
        ul {
            list-style-type: none;
            display: flex;
            li {
				padding: 10px 20px;
				a.active {
					font-weight: bold;
				}
            }
        }
    }
}

.home .headerContainer {
	position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	background: transparent;
}

