@import 'header';
@import 'footer';
@import 'normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.homeHero {
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: url('../assets/jaxbg.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 9999px 9999px rgba(#000, .9);
  transition: 0.25s all;

  .text {
	font-size: 3em;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: block;
	text-align: center;
	transition: 0.25s all;
  }

  &:hover {
	box-shadow: inset 9999px 9999px rgba(#000, .7);
	.text {
		transform: scale(1.01);
	}
  }
  
}

.blogList {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	.postPrev {
		position: relative;
		max-height: 500px;
		overflow: hidden;
		
		h2 {
			text-transform: uppercase;
		}
		img {
			width: 100%;
			display: block;
			transition: 0.25s all;
		}

		.postInfo {
			position: absolute;
			width: 100%;
			z-index: 2;
			background: rgba(#000, .8);
			bottom: 0;
			left: 0;
			color: #fff;
			text-decoration: none;
			h2 {
				margin: 0;
			}
			.postHeader {
				border-bottom: 1px solid #fff;
				padding: 10px;
			}
			.excerpt {
				padding: 10px;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
		}

		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}

	.blogLoading {
		.loader {
			display: block;
			margin: 100px auto;
			width: 150px;
			height: 150px;
			border-top: 10px solid red;
			border-right: 10px solid #000;
			border-bottom: 10px solid #000;
			border-left: 10px solid #000;
			border-radius: 999px;
			animation-name: rotate;
			animation-duration: 2s;
			animation-iteration-count: infinite;
		}

		@keyframes rotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}

	
}
  

