@import 'header';
@import 'footer';
@import 'normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.homeHero {
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {

  }

}
  

